@import "./styles/custom.scss";
body {
  background-color: $gray-200;
  .back-sign-up {
    background-color: $white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
/*//////////////////////////////////////////////////////////////////
[ Social item ]*/
.login100-social-item {
  font-size: 25px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  transition: all 200ms ease-in-out;
}

.login100-social-item:hover {
  color: #fff;
  background-color: #333333;
}

.bg1 {
  background-color: #3b5998;
}
.bg2 {
  background-color: #1da1f2;
}
.bg3 {
  background-color: #ea4335;
}

.txt1 {
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
}

.txt2 {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase;
}
